{% extends "base.html" %}

{% block head %}
<title>Login</title>
{% endblock %}

{% block content %}
<div>
    <ul class="list-group list-group-flush">
        <div id="display-messages">
            {% for message in messages.query.all() %}
            <li class="list-group-item">
                {{ message.data }}
            </li>
            {% endfor %}
        </div>
    </ul>

    <br><br>
    <div id="input-message">
        <input type="text" name="user_message" id="user_message" placeholder="Type Here..." autocomplete="off">
        <button type="button" id="send_message">Send</button>
    </div>
</div>

<div class='online-users'>
    <br><br>
    <h3>Online users</h3>
    <ul class="list-group list-group-flush">
        {% for online_user in all_user.query.filter_by(online=True).all() %}
        <li class="list-group-item">
            {{ online_user.name }}
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}